.App {
  text-align: center;
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  opacity: 0;
  pointer-events: none;
}

.circle{
  width: 75px;
  height: 75px;
  background-color: lightyellow;
  border-radius: 100%;
  margin: 50px;
}

.circle.red{
  background-color: lightcoral;
}

.circle.blue{
  background-color: lightskyblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p{
  opacity: 0;
}
